<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css"">

  <title>Index</title>
</head>

<body class=" index">

  <div id="nav"></div>

  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-11 col-12">

          <h2 class="display-4 text-center mt-5">Log de mensajes recibidos</h2>
          <div class="table-responsive mt-5 p-2">
            <table id="searchTable" class="table table-bordered table-striped">
              <thead>
                <th scope="col">Hora de recepción</th>
                <th scope="col">ID Emisor</th>
                <th scope="col">ID Receptor</th>
                <th scope="col">Tipo de mensaje</th>
                <th scope="col">Detalles</th>
              </thead>
              <tbody>
              </tbody>
              <tfoot>
                <tr>
                    <th class="textinput"></th>
                    <th class="textinput"></th>
                    <th class="textinput"></th>
                    <th class="select"></th>
                    <th class="exclude"></th>
                </tr>
              </tfoot>
            </table>

          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modalXML" tabindex="-1" role="dialog" aria-labelledby="modalXML" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalProductosCompradosTitulo">Mensaje XML</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <textarea id="textarea-xml" disabled>
            
            </textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
          </div>
        </div>
      </div>
    </div>

  </main>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!--data table-->
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="/js/loadNav.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>
  </body>

</html>