<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css" />
  
    <link rel="stylesheet" href="/css/styles.css"">
      
        <title>Productos Disponibles</title>
    </head>
    <body>
        <div id="nav"></div>
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-11 col-12">
          <h3 class="display-3 mt-5 mb-5">Productos Disponibles</h3>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="tableListaProductos">
              <thead>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio/Unidad</th>
              </thead>
              <tbody>
                <tr>
                  <td>Fanta</td>
                  <td>20</td>
                  <td>2.5€</td>
                </tr>
                <tr>
                  <td>Leche</td>
                  <td>4</td>
                  <td>4.5€</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </main>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!--data table-->
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <!-- Cargar nav -->
  <script src="/js/loadNav.js"></script>
  <!-- Cargar producto.js -->
  <script src="/js/productos.js"></script>
  </body>

</html>